[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Data science repository
[access "refs/*"]
	owner = group user/winsthomas
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/winsthomas
	label-Verified = -1..+1 group user/winsthomas
	push = group user/winsthomas
	read = group user/winsthomas
	rebase = group user/winsthomas
	removeReviewer = group user/winsthomas
	submit = group user/winsthomas
[access "refs/heads/*"]
	create = group user/winsthomas
	push = +force group user/winsthomas
	pushMerge = group user/winsthomas
	read = group user/winsthomas
[access "refs/tags/*"]
	push = group user/winsthomas
	push = +force group user/winsthomas
